.centered-input {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 32px;
}

.centered-button {
    margin: auto;
    width: 30%;
    padding: 10px;
    margin-top: 12px;
}

.suggestion-item {
    border-style: solid black;
    margin: 4px;
}

.package-info {
    display: flex;
    justify-content: center;
}

.package-info-left, .package-info-right {
    display:inline;
    min-width: 20%;
    margin-left: 32px;
    margin-right: 32px;
}

.package-info-details-item {
    margin: 0;
}

.tab {
    margin-left: 40px;
}