.centered-input {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 32px;
}

.centered-button {
    margin: auto;
    width: 30%;
    padding: 10px;
    margin-top: 12px;
}

.centered-tree {
    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 12px;
}